<div class="col-lg-6 pull-center">
  <form id="feed" name="feed" #VideoDataParameter="ngForm" (ngSubmit)="AddNewVideo(VideoDataParameter.value)">
    <div class="form-group ">
      <label>Video Title</label>
      <input type="text" name="title" id="title" class="form-control" ngModel />
    </div>
    <div class="form-group">
      <label>Video Path</label>
      <input type="text" name="path" id="path" class="form-control" ngModel/>
    </div>
    <div class="form-group">
      <label>Video Description</label>
      <input type="text" name="description" id="description" class="form-control" ngModel />

    </div>
    <div class="form-group">
      <input type="submit" value="Add Video" class="btn btn-outline-danger" />

    </div>
  </form>
</div>